body {
  margin: 0;
}

.container {
  width: 50%;
  margin-top: 15%;
  margin-left: 20%;

  text-align: center;
}

.btn {
  width: 15%;
  height: 30px;
  background-color: royalblue;
  color: white;
  border-radius: 3px;
  font-size: 15px;
}

.count-text p {
  font-size: 100px;
  color: green;
  margin: 0;
}

.btns {
  padding: 10px;
  text-align: center;
}

.btn-add-div {
  margin-top: 20px;
}
